body {
    margin: 60px auto;
    width: 70%;
    background-color: rgb(255,255,255);
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* Style page content */
.main {
  margin-left: 180px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}


img {
    width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}

.grey {
  background-color: rgb(250,250,250);
}

.container {
    &__image {
        float: left;
    }
    &__text {
        display: inline;
        float: right;
    }
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 48%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create two equal columns that floats next to each other */
.column_two {
  float: left;
  width: 50%;
}

.column_three {
  float: left;
  width: 25%;
}

.logo {
    width: 60px;
    height: 60px;
}

