<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<div class="topnav">
	    		
        		
        			<a href='{{site.url}}#Home'><i class="fa fa-fw fa-home"></i> Home</a>
        		
        		<!--<a href="/cv">CV</a>
        		<a href="/blog">Projects</a>-->
        		
        			<a href="{{site.url}}#Papers"><i class="fa fa-paper-plane"></i> Papers</a>
        		
        		
        			<a href="{{site.url}}#Projects" class="list-group-item"><i class="fa fa-coffee"></i> Projects</a>
        		
        		<a href="https://github.com/joshuacoven" class="list-group-item"><i class="fa fa-code"></i> GitHub</a>
        		
        		
        			<a href="/cv/" class="list-group-item"><i class="fa fa-university"></i> CV</a>
        		
	        		
	        		
	    		
	    	</div>
	    	
			<div class="container">
			
			{{ content }}
			
			</div>

			<footer>
	    		<ul>
	        		<li><a href="mailto:joshua.coven@gmail.com">email</a></li>
	        		<li><a href="https://github.com/joshuacoven">github.com/joshuacoven</a></li>
				</ul>
			</footer>

		</body>
	</html>