<!DOCTYPE html>
	<html>
	
		{% include head.html %}

		<body>
			<nav class="navbar fixed-top navbar-dark bg-dark">
			  <div class="container-fluid">
			    <a href='{{site.url}}#'><i class="fa fa-fw fa-home"></i> Home</a>
        		<a href="{{site.url}}#Papers"><i class="fa fa-paper-plane"></i> Papers</a>
        		<a href="{{site.url}}#Projects"><i class="fa fa-coffee"></i> Projects</a>
        		<a href="https://github.com/joshuacoven"><i class="fa fa-code"></i> GitHub</a>
        		<a href="/cv/"><i class="fa fa-university"></i> CV</a>
			  </div>
			</nav>
		

	    	<br>
	    	<br>
	    	<br>
			<div class="container">
			
			{{ content }}
			
			</div>

			<footer>
	    		<ul>
	        		<li><a href="mailto:joshua.coven@gmail.com">email</a></li>
	        		<li><a href="https://github.com/joshuacoven">github.com/joshuacoven</a></li>
				</ul>
			</footer>

		</body>
	</html>