<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<div class="sidenav">
	    		
	        		<li><a href="#home"><i class="fa fa-fw fa-home"></i> Home</a></li>
	        		<!--<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Projects</a></li>-->
	        		<li><a href="https://github.com/joshuacoven" class="list-group-item"><i class="fa fa-book"></i> GitHub</a></li>
	    		
	    	</div>
	    	
			<div class="container">
			
			{{ content }}
			
			</div>

			<footer>
	    		<ul>
	        		<li><a href="mailto:joshua.coven@gmail.com">email</a></li>
	        		<li><a href="https://github.com/joshuacoven">github.com/joshuacoven</a></li>
				</ul>
			</footer>

		</body>
	</html>